.coming{

    font-family: 'Coming Soon', cursive;
}
.combo{
    font-family: 'Combo', cursive;

}
.chakra{
    font-family: 'Chakra Petch', sans-serif;

}
.roboto{
    font-family: 'Roboto', sans-serif;

}



.canvas-container{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;

}

.canvas-wrapper {
    width: 100%;
}
.canvas-controllers{
    padding-left: 15px;
    padding-right: 15px;
}


.btn-closeEditor{
    border: none;
    font-size: 1.5rem;
    width: 100%;
    height: 40px;
    color: var(--light);
    background-color: var(--mid);
}
.color-pick{
    border: none;
    background-color:white;
    width: 1.8rem;
    height: 1.8rem;
    padding: 0;
    margin: 0;
}
.arrow{
    margin-right: 60px;
    transform: rotate(45deg);
}

.buttons{
    /* justify-content: space-between; */
    /* align-items: baseline; */
    margin-bottom: 15px;

}
.main-canvas{
    margin-bottom: 15px;
}
.input-box{
    margin-bottom: 15px;
    /* margin-right: 10px; */
    justify-content: baseline;
    
}
.delete-row{
    margin-right: 10px;
    padding: 5px;
    font-size: 1.2rem;
}
.add-line{
    margin-right: 10px;
    padding: 5px;
    font-size: 1.2rem;

}