
.canvas-container{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}

.canvas-wrapper {
    width: 100%
}
.arrow{
    transform: rotate(180deg);
}
.btn-closeEditor{
    border: none;
    font-size: 1.5rem;
    width: 100%;
    height: 40px;
    color: var(--light);
    background-color: var(--mid);
}
.color-pick{
    border: none;
    background-color: white;
    width: 30px;
    height: 35px;
    padding: 0;
    margin: 0;
}
.arrow{
    margin-right: 60px;
}
