.gallery{
    max-width: 100%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill , minmax(100px, 1fr));
}

img{
    
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.filterBox{
    height: 50px;
    background-color: var(--mid);
    align-items: center;
    margin-bottom: 15px
}
.filterImg{
    background-color: var(--light);
    margin-right: 10px;
    border-radius: 50px;
    padding: 5px 10px;
}