.gallery{
    max-width: 100%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill , minmax(100px, 1fr));
}

img{
    
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.filterImg{
    margin: 5px 10px;
    border-radius: 50px;
    padding: 5px 10px;
}