.spinner-master {
    position: relative;
    margin: 10px;
    height: 40px;
    width: 40px;
  }
  .spinner-master * {
    transition: all 0.3s;
    box-sizing: border-box;
  }
  .spinner-master input[type="checkbox"] {
    display: none;
  }
  .spinner-master label {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    height: 100%;
    width: 100%;
    top: 20px;
    left: 0;
  }
  .spinner-master .spinner1,
  .spinner-master .spinner2,
  .spinner-master .spinner3,
  .spinner-master .spinner4 {
    position: absolute;
    height: 5px;
    width: 100%;
    background-color: var(--light);
  }
  .spinner-master .diagonal.part-1 {
    position: relative;
    float: left;
  }
  .spinner-master .diagonal.part-2 {
    position: relative;
    float: left;
    margin-top: calc(5px * 1.3 );
  }
  .spinner-master .horizontal {
    position: relative;
    float: left;
    margin-top: calc(5px * 1.3 );
  }
  .spinner-master input[type="checkbox"]:checked ~ .spinner-spin1 > .horizontal, .spinner-master input[type="checkbox"]:checked ~ .spinner-spin2 > .horizontal, .spinner-master input[type="checkbox"]:checked ~ .spinner-spin3 > .horizontal, .spinner-master input[type="checkbox"]:checked ~ .spinner-spin4 > .horizontal {
    opacity: 0;
  }
  .spinner-master input[type="checkbox"]:checked ~ .spinner-spin1 > .diagonal.part-2, .spinner-master input[type="checkbox"]:checked ~ .spinner-spin2 > .diagonal.part-2, .spinner-master input[type="checkbox"]:checked ~ .spinner-spin3 > .diagonal.part-2, .spinner-master input[type="checkbox"]:checked ~ .spinner-spin4 > .diagonal.part-2 {
    margin-top: calc(-1 * ( 5px + (5px  * 2.2 ) ));
  }

  .spinner-master input[type="checkbox"]:checked ~ .spinner-spin2 > .diagonal.part-1 {
    transform: rotate(135deg);
  }
  .spinner-master input[type="checkbox"]:checked ~ .spinner-spin2 > .diagonal.part-2 {
    transform: rotate(-135deg);
  }