.header-content{
    align-items: baseline;
    justify-content: space-between;
    color: var(--light);
    height: 120px;
    padding: 0 20px;
    background-color: var(--dark);
    margin-bottom:  15px;
}