.header-content{
    align-items: baseline;
    justify-content: space-between;
    font-size: 2.5rem;
    color: var(--light);
    height: 120px;
    padding: 25px 25px;
    background-color: #292929;

}

.screen {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 120px;
    left: 0;
    background: rgba(250, 250, 250, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    cursor: pointer;
}

.screen.open{
    opacity: 1;
    visibility: visible;
}

.top-nav-logo{
    font-size: 40px;
    min-width: 220px;
    padding-left: 20px;
    color: var(--light);
    text-transform: capitalize;
}
.top-nav{
    width: 100%;
}

.main-nav{
    display: none;
    transition:  .5s;
}

.main-nav.open {
    position: absolute;
    top: 120px;
    display: flex;
    flex-direction: column;  
    opacity: 1;

}

a{
    color: white;
    text-decoration: none;
    /* position: relative; */
    /* margin: 0 auto; */
    right: 10px;
    width: 90vw;
    background: rgba(98, 98, 98, 1);
    line-height: 130px;
    font-size: 2rem;
    border:none;
    margin-bottom: 2px;
    transition: coloallr .3s;
    padding-left: 20px;
}

a:hover{
    color: white;
    background-color: greenyellow;

}
a:focus{
    color: white;
}



@media (min-width: 680px){
    .header-content{
        padding: 0;
    }
    .hamburger{
        display:none;
        /* visibility: hidden; */
    }
    .main-nav{
        display: block;

    }
    /* .top-nav{
        display: flex;
        justify-content: space-between
    } */

.bottom-nav-logo{
    color: var(--light);

    font-size: 40pt;
    text-transform: capitalize;
}
.logo:hover{
    cursor: pointer;
}



a{
    text-transform: capitalize;
    text-decoration: none;
    color: var(--light);
    background-color: #292929;
    transition: color .2s;
    display: inline-block;
    text-align: center;
        border-left: 1px solid #1e1e1e;
        font-size: 16px;
        font-weight: 700;
        width: 120px;
        line-height: 120px;
    }
    a:last-child{
     border-right: 1px solid #1e1e1e;

    }
    a:hover{
        background-color: #1e1e1e;
    }
    a:focus{
       color: var(--mid);
    }


}



