.container{
    max-width: 980px;
    width: 95vw;
    margin: 0 auto;
    /* padding: 0 10px; */
}

.flex{
    display:flex
}
.column{
    flex-direction: column;
}
.row{
    flex-direction: row;
}
.hide{
    display: none;
}
.align-center{
    align-items: center
}
.space-between{
    justify-content: space-between;
}