.coming{

    font-family: 'Coming Soon', cursive;
}
.combo{
    font-family: 'Combo', cursive;

}
.chakra{
    font-family: 'Chakra Petch', sans-serif;

}
.roboto{
    font-family: 'Roboto', sans-serif;

}



.canvas-container{
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;

}

.canvas-wrapper {
    width: 100%;
}
.canvas-controllers{
    padding-left: 15px;
    padding-right: 15px;
}


.btn-closeEditor{
    border: none;
    font-size: 1.5rem;
    width: 100%;
    height: 40px;
    color: var(--light);
    background-color: var(--mid);
}
.color-pick{
    border: none;
    background-color:white;
    width: 1.8rem;
    height: 1.8rem;
    padding: 0;
    margin: 0;
}
.arrow{
    margin-right: 60px;
    transform: rotate(45deg);
}


.main-canvas{
    margin-bottom: 15px;
}
.input-box{
    /* width: 100%; */
    color: var(--dark);
    margin-bottom: 15px;
    /* margin-right: 10px; */

    justify-content: baseline;
    
}
.input-line{

    width: 80%
}
.delete-text{
    margin-left: 12px;
    padding: 5px;
    font-size: 1.2rem;
}
.delete-text:hover{
    cursor: pointer;
}

.add-line{
    margin-left: 12px;
    padding: 5px;
    font-size: 1.2rem;
}
.add-line:hover{
    cursor: pointer;
}

.font-minus{
    /* margin-left: 12px; */
    margin-top: 4px;
    padding: 5px;
    font-size: 1.2rem;
}
.font-minus:hover{
    cursor: pointer;
}

.font-plus{

    margin-left: 8px;
    /* margin-right: 8px; */
    margin-top: 4px;
    padding: 5px;
    font-size: 1.2rem;
}
.font-plus:hover{
    cursor: pointer;
}
.font-input{

    min-width: 180px;
    color: var(--dark);
    border: 1px solid var(--dark);
    border-radius: 5px;
    margin-right: 15px;
    padding-right: 8px;
    padding-left: 8px;
}

.fontLine{
    margin:auto;
    
}

.color-input{
    text-align: center;
    min-width: 100px;
    color: var(--dark);
    border: 1px solid var(--dark);
    border-radius: 5px;
    /* margin-right: 15px; */
    padding-right: 8px;
    padding-left: 8px;

}

.buttons{
    width:100%;
    height: 40px;
    margin-bottom: 15px;

}
.font-picker{
    background-color: white;
}

.move-btn{
    color: var(--dark);
    font-size: 1.2rem;
}
.move-btn:hover{
    cursor: pointer;
    
}
.shadow-container{
    border: 1px solid var(--dark);
    border-radius: 5px;
    color: var(--dark);
}
.shadow-container:hover{
    cursor: pointer;
}
.shadow-container:focus{
    background-color: var(--dark);
}




        
@media( min-width:680px){
.canvas-wrapper { grid-area: canvas-wrapper; }
.btn-closeEditor { grid-area: btn-closeEditor; }
.canvas-controllersr { grid-area: canvas-controllersr; }

    .canvas-container{ 
        display: grid;
        grid-template-areas:
        'canvas-wrapper canvas-wrapper canvas-wrapper canvas-wrapper btn-closeEditor btn-closeEditor'
        'canvas-wrapper canvas-wrapper canvas-wrapper canvas-wrapper canvas-controllers canvas-controllers'
        'canvas-wrapper canvas-wrapper canvas-wrapper canvas-wrapper canvas-controllersr canvas-controllers'
        'canvas-wrapper canvas-wrapper canvas-wrapper canvas-wrapper canvas-controllers canvas-controllersr';

    
    }
}
