.contact-container{
    text-align: left;

    padding: 30px;
    line-height: 1rem;
    color: var(--superLight);
    background-color: var(--mid);
}

div{
    text-align: left;
    line-height: 2.2rem;
}
.form-control{
    width: 80%;
    text-align: left;
    line-height: 2.2rem;
    border-radius: 4px;
    border: 1px solid var(--midB);
    background-color: var(--light);
}