.gallery{
    max-width: 100%;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill , minmax(100px, 1fr));
}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

img:hover{
    cursor: pointer;
}

.filterBox{
    font-size: 1rem;

    height: 50px;
    background-color: var(--mid);
    align-items: center;
    margin-bottom: 15px
}

.filterImg{
    background-color: var(--light);
    outline: none;
    border: none;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 50px;
    padding: 5px 10px;
}

select{
    -webkit-appearance: none;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border: none;
    background-color: var(--light);
    color: var(--dark);
    padding: 5px 10px;
    align-items: center;
    font-size: 1rem;
    text-transform: uppercase;
}

option{
    padding: 5px;
    text-transform: uppercase;
    color: var(--dark);
}