.header-content{
    align-items: center;
    justify-content: space-between;
    font-size: 2.5rem;
    color: var(--light);
    height: 110px;
    /* padding: 25px 25px; */
    background-color: var(--dark);

}

.screen {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 110px;
    left: 0;
    background: rgba(250, 250, 250, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: all .5s;
    cursor: pointer;
}

.screen.open{
    opacity: 1;
    visibility: visible;
}
.gene{
    padding-top: 5px;
    height: 100px;
    width: auto;
}

.top-nav-logo{
    font-size: 2rem;
    min-width: 220px;
    padding-left: 30px;
    color: var(--light);
    text-transform: capitalize;
}

.top-nav{
    width: 100%;
}

.main-nav{
    display: none;
}

.main-nav.open {
    position: absolute;
    top: 110px;
    display: flex;
    flex-direction: column;  
    opacity: 1;

}

a.nav-a{
    color: var(--light);
    text-decoration: none;
    /* width: 60vw; */
    width: 70vw;
    background: var(--dark);
    line-height: 110px;
    border:none;
    margin-bottom: 2px;
    padding-left: 20px;
    text-align: center;
}

a.nav-a:first-child{
    margin-top: 2px;
  }

a.nav-a:hover{
    color: var(--light);
    background: var(--darkB);

}

a.nav-a:focus{
    color: var(--light);
}



.hamburger{
    padding-right: 20px;
    font-size: 2.2rem;
}

.hamburger:hover{
    cursor: pointer;
}


@media (min-width: 680px){
    .header-content{
        padding: 0;
    }

    .main-nav{
        display: flex;
    }
    .hamburger{
        display: none;
    }

    .bottom-nav-logo{
        color: var(--light);

        font-size: 40pt;
        text-transform: capitalize;
    }

    .logo:hover{
        cursor: pointer;
    }

    a.nav-a{
        position: relative;
        padding: 0;
        text-transform: capitalize;
        text-decoration: none;
        font-size: 2rem;
        color: var(--light);
        background-color: var(--dark);
        transition: color .3s;
        display: inline-block;
        border-left: 1px solid #515a69;
        font-size: 1.2rem;
        font-weight: 700;
        width: 110px;
        line-height: 110px;
    }

    a.nav-a:first-child{
        margin-top: 0;
    }

    a.nav-a:last-child{
        border-right: 1px solid #515a69;
    }

    a.nav-a:hover{
        background-color: #4b535f;
    }

    a.nav-a:focus{
        color: var(--mid);
    }


}



