*{
    margin: 0;
    box-sizing: border-box;
}

.canvas-wrapper{
    border: 1px solid gray;
    width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
}
/* @media (min-width:567px) */


canvas{
    border: 1px solid gray;
}

.header-content{
    height: 50px;
    background-color: gray;
    margin-bottom: 15px;
}

.container{
    max-width: 980px;
    margin: 0 auto;
    padding: 0 15px;
}

.gallery{
    /* object-fit: cover; */
    max-width: 100vw;
    display: grid;
    grid-gap: 15px;
    /* grid-template-columns: repeat(3, 100px);
    grid-template-rows: repeat(3, 100px); */
    grid-template-columns: repeat(auto-fill , minmax(100px, 1fr));
    /* grid-template-rows: repeat(auto-fill , ); */

}

img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}
