@import "header.css";
@import "footer.css";
@import "gallery.css";
@import "canvas.css";
@import "helpers.css";


/* Layout */

*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.body{
    background-color: lightgray;
}

:root {
    --dark: #59606d;
    --darkB: #505663;
    --mid: #70acb1;
    --midB: #659ea3;
    --light: #d8dfe0;
    --lightB:#c0cbcc;
    --boom: #e93a23;
    --boomB: #f5462f;
    --superLight: lightgray;
}









  