*{
    margin: 0;
    box-sizing: border-box;
}

.canvas-modal{
    border: 1px solid gray;

    width: 90vw;
    margin: 0 auto;
    margin-bottom: 10px;
}
canvas{
    border: 1px solid gray;
}
.gallery{
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill , minmax(100px, 1fr));

}