@import "_header.css";
@import "_gallery.css";
@import "_canvas.css";
@import "_helpers.css";



/* Layout */
*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
.body{
    background-color: lightgray;
}

:root {
    --dark: #59606d;
    --mid: #70acb1;
    --light: #c6f1e7;
  }









  